<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.6.8, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.6.8, mobirise.com">
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:image:src" content="">
  <meta property="og:image" content="">
  <meta name="twitter:title" content="hostels">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>Hostels</title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/dropdown/css/style.css">
  <link rel="stylesheet" href="/socicon/css/styles.css">
  <link rel="stylesheet" href="/theme/css/style.css">
  <link href="/fonts/style.css" rel="stylesheet">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  
</head>
<body>

{{>header}}

<section data-bs-version="5.1" class="content8 cid-t67MUYLgvC" id="content8-1v" >
    
    <div class="container">

        {{#if M}}
        <div class="row justify-content-center mt-4">
            {{#each host}}     
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                
                <form action="/malerooms" method="post" class="mbr-form form-with-styler mx-auto" data-form-title="Form Name" >
                    <div class="dragArea row">                        
                        <div data-for="_id" class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
                            <input type="hidden" name="_id" data-form-field="_id" class="form-control" value="{{this._id}}" id="phone-form7-17">
                        </div>
                        <div class="col-auto mbr-section-btn align-center"><button type="submit" class="btn btn-primary display-4" style="width: 200px; ">{{this.Name}} Hostel</button></div>
                    </div>
                </form>
               
            </div>
           {{/each}}
        </div>
        {{else}}

            {{#each host}}
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                
                <form action="/femalerooms" method="post" class="mbr-form form-with-styler mx-auto" data-form-title="Form Name" >
                    <div class="dragArea row">                        
                        <div data-for="_id" class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
                            <input type="hidden" name="_id" data-form-field="_id" class="form-control" value="{{this._id}}" id="phone-form7-17">
                        </div>
                        <div class="col-auto mbr-section-btn align-center"><button type="submit" class="btn btn-primary display-4" style="width: 200px; ">{{this.Name}} Hostel</button></div>
                    </div>
                </form>
               
            </div>
           {{/each}}
        {{/if}}
    </div>
    
</section>

{{>footer}}
  
</body>
</html>